@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}

body{
	background: linear-gradient(to right, #e3f2f1, #bfd4d3);
}

.wrapper{
	margin: 0 10px;
}

.wrapper_inner{
	position: relative;
	max-width: 1310px;
	width: 100%;
	height: 665px;
	background: #fff;
	margin: 15px auto;
	border-radius: 25px;
	display: flex;
}

.vertical_wrap{
	position: relative;
	height: 100%;
}

.vertical_bar{
	width: 250px;
	background: #35e2bd;
	height: 100%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	position: relative;
}

.vertical_bar .profile_info{
	text-align: center;
	padding: 50px 25px;
}

.vertical_bar .profile_info img{
	width: 200px;
}

.vertical_bar .profile_info .title{
	font-size: 20px;
	letter-spacing: 2px;
	color: #e3f2f1;
	font-weight: 700;
}

.vertical_bar .profile_info .sub_title{
	font-size: 14px;
	color: #fff;
}

.vertical_bar .menu{
	padding-left: 25px;
}

.vertical_bar .menu li a{
	display: block;
	padding: 15px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	margin-bottom: 1px;
}

.vertical_bar .menu li a .icon{
	color: #e3f2f1;
	width: 25px;
    display: inline-block;
}

.vertical_bar .menu li a:hover{
	background: #fff;
	color: #35e2bd;
}

.vertical_bar .social{
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 50px;
}

.vertical_bar .social li a{
	width: 50px;
	height: 50px;
	color: #fff;
	border: 1px solid #fff;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	margin: 0 10px;
}

.vertical_bar .social li a:hover{
	color: #e3f2f1;
	background: #fff;
}

.main_container{
	width: calc(100% - 250px);
}

.main_container .top_bar{
	height: 60px;
	background: #35e2bd;
	border-top-right-radius: 25px;
	padding: 15px 25px;
	display: flex;
	align-items: center;
}

.top_bar .hamburger{
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	display: none;
	margin-right: 25px;
}

.top_bar .logo{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #e3f2f1;
}

.top_bar .logo span{
	color: #fff;
}

.main_container .container{
	padding: 25px;
	height: calc(100% - 60px);
	overflow: auto;
}

.main_container .container .item{
	background: #e3f2f1;
	padding: 50px;
	border-radius: 2rem;
	margin-bottom: 25px;
}



@media (max-width: 768px){
	.top_bar .hamburger{
		display: inline-block;
	}
	.vertical_wrap{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		visibility: hidden;
	}
	.vertical_bar{
		position: absolute;
		top: 0;
		left: -100%; 
		transition: left 0.2s linear;
	}
	.vertical_wrap .backdrop{
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 25px;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}
	.main_container{
		width: 100%;
	}
	.main_container .top_bar{
		border-top-left-radius: 25px;
	}
	.wrapper.active .vertical_wrap{
		visibility: visible;
	}
	.wrapper.active .vertical_bar{
		left: 0;
		transition: left 0.2s linear;
	}
}	


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

main{
	margin-top: 1.4rem;
}

main .insight > div{
	background-color:  #e3f2f1;
	padding: 1.8rem;
	border-radius: 2rem;
	margin-top: 1rem;
	/* box-shadow: 0 2rem 3rem rgba(132,139,200,0.18); */
	transition: all 300ms;
}

main .insight > div:hover{
	box-shadow: none;
}

main .insight > div span{
	background-color: #35e2bd;
	padding: 0.5rem;
	border-radius: 50%;
	color: #fff;
	font-size: 2rem;
}

main .insight > div .middle{
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

main .insight h3{
	margin: 1rem 0 0.6rem;
	font-size: 1rem;
}