{% extends 'post.html' %}
{% block modal %}
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
            </div>
            <div class="modal-body">
                <form action="/edit/{{post.id}}/{{password_rs}}" method="POST">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Edit</label>
                        <textarea class="form-control" id="message-text" name="post">{{post.post}}</textarea>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Edit"/>
                    </div>
                </form>
            </div>
        </div>  
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        console.log("window is loaded")
        $("#exampleModal").modal("show")
    })
</script>
{% endblock %}